body{
    background-image: url(002.jpg);
    background-size: cover;
}
.Heading{
    background-color: black;
    background-size: cover;
    opacity: 0.6;
    color: white;
    font-size: 30px;
    position: relative;
    top: -8px;
    left: -8px;
    width: 100.85%;
    height: 75px;
    padding-left: 3px;
    letter-spacing: 4px;
}
table{
    font-size: 25px;
}
.MyForm{
    position: relative;
    top: 50px;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
  width: 800px;
   text-align: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
b{
   
}


